---
---
<footer class="footer">
  <div>Make It So Camp — created by <a href="/new/about/">Igor Schwarzmann and Noah Raford</a></div>
  <div class="collab light">In collaboration with Chiba Institute of Technology, Flinders University New Venture Institute, and SA Futures Agency.</div>
  <div><a href="/new/about/">About</a> · <a href="mailto:hello@misocamp.com">hello@misocamp.com</a></div>
</footer>
